<!-- CategoryView.html -->
<md-progress-linear md-mode="indeterminate" ng-show="vm.isLoading"></md-progress-linear>

<div class="md-padding" flex layout-sm="column">
    <div ng-hide="vm.isLoading" class="animation">

        <md-content>
            <md-list flex>
                <md-subheader class="md-no-sticky">All your categories</md-subheader>
                <md-list-item ng-repeat="category in vm.categories | orderBy: 'value'">
                    <p>
                        {{ category.value }}
                    </p>
                    <md-icon md-font-set="md" aria-label="Remove" ng-click="vm.showConfirmRemoveDialog($event, category)">clear</md-icon>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
